<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.zy.model.VehicleMapper">

        <select id="getList" resultType="java.util.HashMap">
            select * from etbasedata.pub_vehicle limit 1;
        </select>

        <select id="selectSelective" resultType="com.zy.entity.Vehicle">
            select * from etbasedata.pub_vehicle
        </select>

    </mapper>